---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import Container from '@components/Container.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-gray-900">
		<Header />
		<main class="relative pt-36 ml-auto">
			<Container>
				<div class="overflow-hidden bg-white dark:bg-gray-900 ">
          <div class="mx-auto max-w-7xl lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
              <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                  <h2 class="text-base font-semibold leading-7 text-indigo-600">BLOG</h2>
                  <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white">SUSC의 이야기</p>
                  <p class="mt-6 text-lg leading-8 text-gray-600">SUSC안에서의 여러분들의 활동을 블로그로 작성하실 수 있습니다. 여러분들의 경험과 배움을 자유롭게 공유해주세요.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
				<section class="text-gray-800 md:text-xl dark:text-white pt-12 mt-8">
					<ul>
						{
							posts.map((post) => (
								<li class="mt-12">
									<a href={`/blog/${post.slug}/`} class="lg:flex">
										<img class="object-cover w-full lg:mx-6 lg:w-1/4 rounded-xl h-52" src={post.data.heroImage} alt="" />
										<div class="mt-6 lg:w-3/4 lg:mt-0 lg:mx-6 flex flex-col justify-between">
											<div>
												<h4 class="text-2xl font-semibold">{post.data.title}</h4>
												<p class="text-base text-gray-500 dark:text-gray-300 md:text-base">{post.data.description}</p>
											</div>
											<div class="flex flex-row items-center">
												<img class="w-8 h-8 rounded-full" src={post.data.authorImg} alt="" />
												<p class="m-1 text-sm text-gray-500 dark:text-gray-300 md:text-sm">{post.data.author}</p>
												<p class="m-0.5 text-sm text-gray-500 dark:text-gray-300 md:text-sm">|</p>
												<p class="m-1 text-sm text-gray-500 dark:text-gray-300 md:text-sm">
													<FormattedDate date={post.data.pubDate} />
												</p>
											</div>
										</div>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</Container>
		<Footer />
	</body>
</html>
