---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Container from "@components/Container.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import StudyMentorCard from "@components/StudyMentorCard.astro";
import SeminarMentorCard from "@components/SeminarMentorCard.astro";

import { getCollection } from "astro:content";

const studyMentors = await getCollection("studyMentors");
const seminarMentors = await getCollection("seminarMentors");



---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <Header title={SITE_TITLE} />
    <main class="space-y-40 mb-40">
      <div class="relative pt-36 ml-auto">
        <div class="lg:w-2/3 text-center mx-auto">
          <div id="mentor">
            <Container>
              <div class="">
                <div class="mb-12 space-y-2 text-center">
                  <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
                    스터디 멘토
                  </h2>
                  <p class="break-words lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
                    SUSC를 위해 스터디 개설 또는 질의 응답을 통해 기여해주신 멘토님들을 소개합니다.
                  </p>
                </div>
                <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
                  {
                    studyMentors.map((mentor) => (
                      <StudyMentorCard
                        mentorName={mentor.data.mentorName}
                        mentorImg={mentor.data.mentorImg}
                        mentorBio={mentor.data.mentorBio}
                        techStack={Object.values(mentor.data.techStack)}
                        active={mentor.data.active}
                        github={mentor.data.github}
                        linkedIn={mentor.data.linkedIn}
                        instagram={mentor.data.instagram}
                      />
                    ))
                  }
                </div>
                <div class="mt-24 mb-12 space-y-2 text-center">
                  <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
                    세미나 멘토
                  </h2>
                  <p class="break-words lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
                    SUSC를 위해 세미나 발표를 통해 기여해주신 멘토님들을 소개합니다.
                  </p>
                </div>
                <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
                  {
                    seminarMentors.map((mentor) => (
                      <SeminarMentorCard
                        mentorName={mentor.data.mentorName}
                        mentorImg={mentor.data.mentorImg}
                        mentorCompany={mentor.data.mentorCompany}
                        seminarTitle={mentor.data.seminarTitle}
                        seminarLink={mentor.data.seminarLink}
                        github={mentor.data.github}
                        linkedIn={mentor.data.linkedIn}
                        instagram={mentor.data.instagram}
                      />
                    ))
                  }
                </div>
              </div>
						</Container>
					</div>          
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>


