---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Container from '@components/Container.astro';
import '../styles/global.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, author, authorImg, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-white dark:bg-gray-900">
		<Header />
		<main class="space-y-40 mb-40">
			<div class="relative pt-36 ml-auto">
				<Container>
					<div class="lg:w-2/3 text-center mx-auto text-gray-800 md:text-base dark:text-white">
						<article class="text-start">
							<div class="prose">
								<div class="title">
									<div class="date text-slate-700 dark:text-slate-400">
										<FormattedDate date={pubDate} />
										{
											updatedDate && (
												<div class="last-updated-on">
													Last updated on <FormattedDate date={updatedDate} />
												</div>
											)
										}
									</div>
									<h1 class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl ">{title}</h1>
									<!-- author과 authorImg가 있으면 -->
									{ author && authorImg &&(
										<ul class="flex flex-wrap text-sm leading-6 m-3 -mx-5">
											<li class="flex items-center font-medium whitespace-nowrap px-5">
												<img class="mr-3 w-9 h-9 rounded-full bg-slate-50 dark:bg-slate-800" src={authorImg} alt="" />
												<span class="text-slate-900 dark:text-slate-200">{author}</span>
											</li>
										</ul>
									)}
									<hr />
								</div>
								<div class="mt-12 prose prose-slate dark:prose-dark markdown" >
									<slot />
								</div>
							</div>
						</article>
					</div>
				</Container>
			</div>
		</main>
		<Footer />
	</body>
</html>
